<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>JQuery Demo</title>
</head>
<body>
    
<div class="container" id="app">
<div class="row">
    <div class="col">
        <h1 id="first">{{framework}} Demo</h1>
        <h1 id="second">Vue says hello {{name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col" id="alertCol">

    <input type= "text" class="form-control" placeholder="what is your name" v-model="name"/> 

        <div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
          </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://www.youtube.com/" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cart total: {{total}}</h5>
              <p class="card-text" v-for="x in items">
                  <input style="width: 50%; float: left" v-model="x.name" placeholder="itemName" />
                  <input style="width: 50%" v-model="x.price" placeholder="price"/>
              </p>
              <a href="#" class="btn btn-primary" @click.prevent="addItem">Add item</a>
            </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" @click ="click">Primary</button>
        <button type="button" class="btn btn-secondary" id="new">Secondary</button>
    </div>
    <div class="col"></div>
    <div class="col"></div>
</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
   $ = jQuery 
 $(function(){
    //Passes reference of funtion
    //$("h1").css({ backgroundColor: "red" , color: "white"})
    //json: javaScript object notion
    //{} <-- javascript object
    //{ color : "red"}
    //{ "background-color" : "red"} '-' doesnt work in JS, must use double quotes
    let size =  32

    $("#new").on('click', function(){        

        console.log({
            theAlert:$(".alert"),
            theCol: $("#alertCol")
            //need a '#' for id's
        }); 
            
        $(".alert").eq(0).clone().text("Text")
        .appendTo("#alertCol");
    })
 })
    

</script>
    
    <script>
        var app = new Vue({
        //el = element
        //data is where variables for vue go

         el: '#app',
         data: {
          framework: 'Vue',
          name: null,
          items: []
          //[] = empty array
         },

         methods: {
            click(){
                this.framework = 'Use to be jQuery, but now it\'s Vue'
            },
            addItem(){
                this.items.push({name: '', price: 0.0 });
            }
         },
         computed:{
             total(){
                return this.items.reduce( (prev, x) => prev + +x.price, 0 );
             }
         }
        })
    </script>

</body>
</html>